@media screen and (max-width:479px) {
    .wrapper{
        width: 200px;
        height: 600px;
    }
    .header{
        padding-right:70px;
    }
    .header-container{
        flex-flow: column;
        width: 60px;
        height: 160px;
    }
    .boxa{
        margin: auto;
    }
    .right{
        width: 200px;
        height: 200px;   
    }
    .right-container{ 
        margin: 20px 0 0 30px;
    }
    .left{
        width: 200px;
        height: 100px;
    }
    .footer{
        width: 200px; 
    }
}